<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard </title>
</head>
<body>
    <h1>Welcome to Admin Dashboard</h1>
    <!-- @app.route('/admin', methods=['GET', 'POST'])
    def admin():
    if request.method == 'POST':
    username = request.form['username']
    password = request.form['password']
    conn = sqlite3.connect('database/conference.db')
    c = conn.cursor()
    c.execute('SELECT * FROM admin WHERE username = ? AND password = ?', (admin, admin))
    conn.commit()
    conn.close()
    return 'Schedule added successfully'
    return render_template('admin.html') -->
</body>
</html>
